---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro";
import ProfileCheckIcon from "../components/icons/ProfileCheckIcon.astro"
import CodeIcon from "../components/icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Portfolio de Alejandro Yela, Ingeniero Biomédico y de Software.">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
			<slot />
		</SectionContainer>
		<div class="space-y-24">
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
			class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
			>
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
			  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
			>
			  <ProfileCheckIcon class="size-8" />
			  Sobre mí
			</h2>
			<AboutMe />
		  </SectionContainer>
	</main>
</Layout>
